<div class="row">
    <div class="col-4">
        COLUNA DA ESQUERDA
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Cadastro do Cliente</h2>
                <!--
                    class=row define a quantidade de colunas
                    ex: <div class="row">
                            <div class="col-4">

                            senao o padrao será de 12 colunas
                -->

            </div>
            <div class="card-body">
                <form action="/Cliente/Salvar" method="post">
                    <label>Código</label>
                    <input type="number" name="codigo" class="form-control" />
                    <br />

                    <label>Nome</label>
                    <input type="text" name="nome" class="form-control" />
                    <br />

                    <label>Endereço</label>
                    <input type="text" name="endereco" class="form-control" />
                    <br />

                    <label>Telefone</label>
                    <input type="text" name="telefone" class="form-control" />
                    <br />

                    <button type="submit" class="btn btn-info">
                        Salvar Cadastro
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-4">
        COLUNA DA DIREITA
    </div>
</div>
